USE [master]
GO
/****** Object:  Database [Med_Donation]    Script Date: 11-08-2025 01:45:45 ******/
CREATE DATABASE [Med_Donation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Med_Donation', FILENAME = N'C:\Users\sushe\Med_Donation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Med_Donation_log', FILENAME = N'C:\Users\sushe\Med_Donation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Med_Donation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Med_Donation]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 11-08-2025 01:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donation]    Script Date: 11-08-2025 01:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation](
	[DonationId] [int] IDENTITY(1,1) NOT NULL,
	[MedicineId] [int] NULL,
	[DonorId] [int] NOT NULL,
	[MedicineName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ExpiryDate] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
	[DonorNotes] [nvarchar](max) NULL,
	[AdminNotes] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DonationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donations]    Script Date: 11-08-2025 01:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donations](
	[DonationID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineID] [int] NULL,
	[DonorID] [int] NULL,
	[MedicineName] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[ExpiryDate] [date] NULL,
	[Quantity] [int] NULL,
	[DonorNotes] [nvarchar](500) NULL,
	[AdminNotes] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[ApprovedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__donation__C5082EDB0FE75E48] PRIMARY KEY CLUSTERED 
(
	[DonationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospitals]    Script Date: 11-08-2025 01:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospitals](
	[HospitalId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicines]    Script Date: 11-08-2025 01:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicines](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[ExpiryDate] [date] NULL,
	[Quantity] [int] NULL,
	[DonorID] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ngos]    Script Date: 11-08-2025 01:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ngos](
	[NgoId] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationName] [nvarchar](100) NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[NgoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[requests]    Script Date: 11-08-2025 01:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestedByHospitalId] [int] NULL,
	[RequestedByNgoId] [int] NULL,
	[MedicineName] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[RequestDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11-08-2025 01:45:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Donation] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[Donation] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[donations] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[donations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[medicines] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[requests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[donations]  WITH CHECK ADD  CONSTRAINT [FK__donations__Donor__DonorUser] FOREIGN KEY([DonorID])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[donations] CHECK CONSTRAINT [FK__donations__Donor__DonorUser]
GO
ALTER TABLE [dbo].[donations]  WITH CHECK ADD  CONSTRAINT [FK__donations__Medic__4316F928] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[medicines] ([MedicineID])
GO
ALTER TABLE [dbo].[donations] CHECK CONSTRAINT [FK__donations__Medic__4316F928]
GO
ALTER TABLE [dbo].[medicines]  WITH NOCHECK ADD  CONSTRAINT [FK_Medicines_User] FOREIGN KEY([DonorID])
REFERENCES [dbo].[users] ([UserId])
GO
ALTER TABLE [dbo].[medicines] CHECK CONSTRAINT [FK_Medicines_User]
GO
ALTER TABLE [dbo].[requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Hospital] FOREIGN KEY([RequestedByHospitalId])
REFERENCES [dbo].[hospitals] ([HospitalId])
GO
ALTER TABLE [dbo].[requests] CHECK CONSTRAINT [FK_Requests_Hospital]
GO
ALTER TABLE [dbo].[requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Ngo] FOREIGN KEY([RequestedByNgoId])
REFERENCES [dbo].[ngos] ([NgoId])
GO
ALTER TABLE [dbo].[requests] CHECK CONSTRAINT [FK_Requests_Ngo]
GO
USE [master]
GO
